<html>
	<head>
		<title>STEAM games data</title>
		<style>
			table {
			  font-family: arial, sans-serif;
			  border-collapse: collapse;
			  width: 100%;
			}
			
			td, th {
			  border-bottom: 1px solid #dddddd;
			  text-align: left;
			  padding: 8px;
			}
			
			tr:nth-child(even) {
			  background-color: #dddddd;
			}
			</style>
	</head>
	<body>
		<img src="{{url_for('static', filename='img-test.png')}}" alt="Test Visualization">
		<table>
			<tr>
				<th>STEAM_ID</th><th>GAME_NAME</th><th>GAME_TYPE</th><th>REQUIRED_AGE</th><th>IS_FREE</th>
			</tr>
			{%for item in game%}
			<tr>
				<td>
				{{item.steam_appid}}
				</td>
				<td>
				{{item.game_name}}
				</td>
				<td>
				{{item.game_type}}
				</td>
				<td>
				{{item.required_age}}
				</td>
				<td>
				{{item.is_free}}
				</td>
			</tr>
			{%endfor%}   
		</table> 
	</body>
</html>	